.backgroundImg {
  background-image: url("../../resources/images/the-flatiron-building.png");
}

.name {
  color: white;
  font-family: helvetica;
  font-size: 70px;
  font-weight: bold;
}

body {
  text-align: center;
  font-family: helvetica;
}

.link {
  color: white;
  font-size: 18px;
}

.process {
  font-weight: bold;
  font-size: 32px;
}

.smallHeader {
  font-size: 23px;
  font-weight: bold;
}

.headerText {
  font-size: 14px;
}

.white {
  color: white;
}

.footerDiv {
  background-color: dimgray;
  text-align: left;
  color: white;

}

.footerP {
  font-size: 11px;

}
