.header1 {
  background-image: url("/Users/mikecimino/Projects/broadway/resources/images/the-flatiron-building.png");
}

.name {
  color: white;
  font-family: helvetica;
  font-size: 70px;
  font-weight: bold;
}

body {
  text-align: center;
}

.link {

}
